
// ----------
// Fonts
// ----------
// $h1: 74;
// $h2: 60;
// $h3: 50;

$h1-desktop: 74;
$h2-desktop: 60;
$h3-desktop: 50;
$h4-desktop: 30;

$h1-mobile: 45;
$h2-mobile: 34;
$h3-mobile: 26;
$h4-mobile: 22;

$p-normal: 14;


// ----------
// Spaces
// ----------
$space-xxsmall: 5;
$space-xsmall: 10;
$space-small: 15;
$space-medium: 20;
$space-large: 25;
$space-xlarge: 30;
$space-xxlarge: 35;

$spacemapsmall: (
    xxs: 7,
    xs: 10,
    s: 20,
    m: 25,
    l: 30,
    xl: 40,
    xxl: 50
);

$spacemap: (
    xxs: 10,
    xs: 15,
    s: 25,
    m: 30,
    l: 40,
    xl: 50,
    xxl: 55
);


// ----------
// Gutters
// ----------
$gutter-mobile: 15;
$gutter-thin: 15;
$gutter-small: 15;
$gutter-normal: 25;
$gutter-large: 35;
$gutter-thick: 58;

$gutter-header: 60;

$gutter-section: 50;
$gutter-section-large: 80;

